sonar.projectKey=react-demo-todo
sonar.projectName=React Demo-todo
sonar.host.url=http://localhost:9000
sonar.token=TU_PROJECT_TOKEN
sonar.sources=src
sonar.tests=src
sonar.test.inclusions=**/*.test.js,**/*.test.jsx
sonar.exclusions=**/node_modules/**,**/coverage/**,**/*.test.js,**/*.test.jsx,**/test/**
sonar.javascript.lcov.reportPaths=coverage/lcov.info
